[VARS]
PROJECT=###Projeto do firebase
DB_API_KEY=###Parâmetro de autenticação
DB_PASSWORD=###Parâmetro de autenticação
EMAIL=###Parâmetro de autenticação
SERVER_KEY=###Chave do firebase para envio de mensagens
